/* Fichier css lié à la todolist */
body {
    background-color: #0f0099;
    font-family: 'Helvetica', sans-serif, 'Arial';
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: white;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.item {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

li.item,  form input{
    padding: 10px;
}

form input[type="text"] {
    border-radius: 3px;
    border: none;
}

form input[type="submit"] {
    border-radius: 8px;
    border: none;
}